@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-gradient-animation {
    animation: gradientAnimation 5s ease infinite alternate;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* .homebackground{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    
    
    
  } */

.homebackground {
    /* background: #f9fafb; */
    /* border-radius:  30% 70% 70% 30% / 50% 50% 70% 70%  */
    /* border-radius: 0% 0% 50% 50% / 5% 5% 50% 50%; */
    border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
    /* background-image: url("/public/svgbackground.svg")  ; */
}

.image-home {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #7E2553, #FAEF5D, #1D2B53);
    border-image-slice: 1;

    box-sizing: border-box;
    /* Adjust the box-sizing property */
    transform: scale(1);
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    filter: drop-shadow(2px 2px 2px rgb(240, 240, 136));
}

.image-home:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(230, 11, 11, 0.3), 0 0 10px rgba(130, 6, 6, 0.5) inset;
}

/* .homebackground {
    background: url("/b.jpg") center / cover no-repeat ;
} */






.heading-text {

    /* Ensure the element can be positioned */
    position: relative;
    overflow: hidden;
    /* Prevent line breaks */

    /* Animation */
    animation: slideIn 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards, scaleUp 1s ease-in-out forwards;
    /* Adjust the duration and timing function */
}


@keyframes slideIn {
    0% {
        transform: translateX(100%);
        /* Start position: outside of viewport */
    }

    100% {
        transform: translateX(0);
        /* End position: original position */
    }
}


.subheading-text {

    /* Ensure the element can be positioned */
    position: relative;
    overflow: hidden;
    /* Prevent line breaks */
    opacity: 0;
    /* Animation */
    /* Animation */
    animation: slideIn 3s cubic-bezier(0.25, 0.1, 0.25, 1) 2.6s forwards, scaleUp 1s ease-in-out forwards;
    /* Adjust the duration and timing function */
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
        /* Start position: outside of viewport with opacity */
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        /* End position: original position with full opacity */
    }
}

.image-content {

    overflow: hidden;

    animation: slideInLeft 2s ease-in-out forwards;

}


@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        /* Start position: outside of viewport */
    }

    100% {
        transform: translateX(0);
        /* End position: original position */
    }
}




.about-text {
    /* Ensure the element can be positioned */
    position: relative;
    overflow: hidden;
    /* Prevent line breaks */
    opacity: 0;
    /* Animation */
    animation: slideIn 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards, scaleUp 1s ease-in-out forwards;
    /* Initial state */
    transform: translateX(100%);
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
        /* Start position: outside of viewport with opacity */
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        /* End position: original position with full opacity */
    }
}

.skills {
    /* background-color: #ec73b2; */
    background: url("/skill_background.jpg") center / cover no-repeat fixed;

background-color: #ab1861;
background-blend-mode: overlay;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}



.card {

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(243, 242, 242, 0.25);

    backdrop-filter: blur(15px);
}
.borderpoint {
    position: relative;
  }
.point-marker::before {
    content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	right: calc(100% + 14px);
	top: 0;
	background-color: #7E2553;
	border: 2px solid white;
  }
  